<footer class="footer">

  <div class="footer-container">

    <!-- Logo -->
    <div class="footer-col logo-col">
      <img src="/assets/images/logo.png" alt="Logo">
    </div>

    <!-- Contact -->
    <div class="footer-col contact-col">
      <h4>Contact Us</h4>

      <div class="contact-item">
        <mat-icon>location_on</mat-icon>
        <span>
          3107 Tewksbury Way <br>
          San Ramon, CA 94582
        </span>
      </div>

      <div class="contact-item">
        <mat-icon>call</mat-icon>
        <span>(510) 598-9164</span>
      </div>

      <div class="contact-item">
        <mat-icon>email</mat-icon>
        <span>info@theidealkids.org</span>
      </div>
    </div>

    <!-- Social -->
    <div class="footer-col social-col">
      <h4>Follow Us</h4>

      <div class="social-icons">

        <a href="https://www.facebook.com/YOUR_PAGE" target="_blank">
          <i class="fab fa-facebook-f fb"></i>
        </a>

        <a href="https://twitter.com/YOUR_PROFILE" target="_blank">
          <i class="fab fa-x-twitter tw"></i>
        </a>

      </div>

    </div>

  </div>

  <!-- Bottom Bar -->
  <div class="footer-bottom">
    © {{ currentYear }} The Ideal Kids. All rights reserved.
  </div>

</footer>