<footer class="footer">

  <div class="footer-container">

    <!-- Logo -->
    <div class="footer-col logo-col">
      <a [routerLink]="'/home'">
        <img src="/assets/images/logo.png" alt="The Ideal Kids Logo">
      </a>
    </div>

    <!-- Contact -->
    <div class="footer-col contact-col">
      <h4>Contact Us</h4>

      <div class="contact-item">
        <mat-icon>location_on</mat-icon>
        <span>
          3107 Tewksbury Way <br>
          San Ramon, CA 94582
        </span>
      </div>

      <div class="contact-item">
        <mat-icon>call</mat-icon>
        <span>(510) 598-9164</span>
      </div>

      <div class="contact-item">
        <mat-icon>email</mat-icon>
        <span>info@theidealkids.org</span>
      </div>
    </div>

    <!-- Quick Links -->
    <div class="footer-col links-col">
      <h4>Quick Links</h4>
      <ul>
        <li><a [routerLink]="'/about'" class="simple-link">About Us</a></li>
        <li><a [routerLink]="'/programs'" class="simple-link">Events</a></li>
        <li><a [routerLink]="'/admissions'" class="simple-link">Ideal Tips</a></li>
        <li><a [routerLink]="'/admissions'" class="simple-link">Forms</a></li>
        <li><a [routerLink]="'/contact'" class="simple-link">Contact Us</a></li>
      </ul>
    </div>

    <!-- Important Links -->
    <div class="footer-col important-col">
      <h4>Important Links</h4>
      <ul>
        <li><a [routerLink]="'/login'" class="simple-link">Login</a></li>
        <li><a [routerLink]="'/signup'" class="simple-link">Signup</a></li>
        <li><a [routerLink]="'/volunteer'" class="simple-link">High School Volunteer Signup</a></li>
      </ul>

      <!-- Donate Button -->
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" class="donate-form">
        <input type="hidden" name="cmd" value="_s-xclick" />
        <input type="hidden" name="hosted_button_id" value="AUKRPQK5HPJ3G" />
        <button mat-raised-button type="submit" class="footer-btn donate-btn">Donate</button>
      </form>
    </div>

    <!-- Social -->
    <div class="footer-col social-col">
      <h4>Follow Us</h4>

      <div class="social-icons">
        <a href="https://www.facebook.com/theidealkids" target="_blank" rel="noopener">
          <i class="fab fa-facebook-f fb"></i>
        </a>

        <a href="https://twitter.com/the_ideal_kids" target="_blank" rel="noopener">
          <i class="fab fa-x-twitter tw"></i>
        </a>
      </div>

    </div>

  </div>

  <!-- Bottom Bar -->
  <div class="footer-bottom">
    © {{ currentYear }} The Ideal Kids. All rights reserved.
  </div>

</footer>