<div
  class="carousel-container"
  (mouseenter)="mouseEnter()"
  (mouseleave)="mouseLeave()"
  (touchstart)="touchStart($event)"
  (touchend)="touchEnd($event)"
>
  <!-- Slides -->

  <div
    #track
    class="carousel-track"
    [class.fade]="animation === 'fade'"
  >
    @for (item of items; track $index; let i = $index) {

      <div
        class="carousel-slide"
        [class.active]="animation === 'fade' && currentIndex() === i"
      >
        <img
          [src]="item.image"
          [alt]="item.title ?? 'Banner'"
          loading="lazy"
          draggable="false"
          (click)="click(item)"
        />

        @if (item.title) {
          <div class="carousel-caption">
            <h2>{{ item.title }}</h2>
          </div>
        }
      </div>

    }
  </div>

  <!-- Previous -->

  @if (showArrows && items.length > 1) {

    <button
      type="button"
      class="carousel-arrow left"
      (click)="previous()"
      aria-label="Previous"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="26"
        height="26"
        fill="currentColor"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"
        />
      </svg>
    </button>

    <button
      type="button"
      class="carousel-arrow right"
      (click)="next()"
      aria-label="Next"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="26"
        height="26"
        fill="currentColor"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M4.646 1.646a.5.5 0 0 0 0 .708L10.293 8l-5.647 5.646a.5.5 0 0 0 .708.708l6-6a.5.5 0 0 0 0-.708l-6-6a.5.5 0 0 0-.708 0"
        />
      </svg>
    </button>

  }

  <!-- Pagination -->

  @if (showDots && items.length > 1) {

    <div class="carousel-dots">

      @for (item of items; track $index; let i = $index) {

        <button
          type="button"
          class="dot"
          [class.active]="currentIndex() === i"
          (click)="goTo(i)"
        >
        </button>

      }

    </div>

  }

</div>