@if (upcomingEvents().length > 0) {

<div class="ticker">

  <div class="ticker-header">
    <div class="title">
      <mat-icon>campaign</mat-icon>
      <span>Upcoming Events</span>
    </div>

    <a
      mat-stroked-button
      color="primary"
      routerLink="/events"
      class="view-all-btn">
      View All
    </a>
  </div>

  <div class="ticker-wrapper">

    <div class="ticker-track">

      @for (event of upcomingEvents(); track event.id) {

      <div class="ticker-item">

        <a
          class="event-link"
          [routerLink]="['/event', event.id]">

          <mat-icon>event</mat-icon>

          <span class="event-name">
            {{ event.name }}
          </span>

          <span class="divider">|</span>

          <span class="event-date">
            {{ event.start_date | date:'dd MMM yyyy' }}
          </span>

        </a>

        <button
          mat-flat-button
          color="primary"
          class="register-btn"
          (click)="register(event, $event)">

          Register Now

        </button>

      </div>

      }

      <!-- Duplicate -->
        @if (upcomingEvents().length > 2) {

      @for (event of upcomingEvents(); track event.id + '-copy') {

      <div class="ticker-item">

        <a
          class="event-link"
          [routerLink]="['/event', event.id]">

          <mat-icon>event</mat-icon>

          <span class="event-name">
            {{ event.name }}
          </span>

          <span class="divider">|</span>

          <span class="event-date">
            {{ event.start_date | date:'dd MMM yyyy' }}
          </span>

        </a>

        <button
          mat-flat-button
          color="primary"
          class="register-btn"
          (click)="register(event, $event)">

          Register Now

        </button>

      </div>

      }}

    </div>

  </div>

</div>

}