<div class="signup-page">
  <div class="signup-container">
    <div class="signup-card">
      <h2>Create Your Account</h2>

      <p class="subtitle">Join IdealKids by creating your account.</p>

      <form [formGroup]="signupForm" (ngSubmit)="signup()">
        <!-- ==========================================
                     PERSONAL INFORMATION
                =========================================== -->

        <div class="section-title">
          <i class="bi bi-person-vcard-fill"></i>

          <span>Personal Information</span>
        </div>

        <div class="form-grid">
          <!-- Name -->

          <div class="form-group full-width">
            <label class="form-label">
              <div class="label-row">
                <span>Name</span>

                <span class="required">*</span>
              </div>

              <small class="helper-text"> Last Name, First Name </small>
            </label>

            <div class="input-wrapper">
              <i class="bi bi-person-fill"></i>

              <input
                type="text"
                class="form-control"
                formControlName="name"
                placeholder="Mom / Dad / Volunteer Name"
              />
            </div>

            @if ((submitted || f['name'].touched) && f['name'].errors) {
              <small class="error"> Name is required. </small>
            }
          </div>

          <!-- Email -->

          <div class="form-group">
            <label class="form-label">
              <div class="label-row">
                <span>Email Address</span>

                <span class="required">*</span>
              </div>

              <small class="helper-text"> Primary Email Address </small>
            </label>

            <div class="input-wrapper">
              <i class="bi bi-envelope-fill"></i>

              <input
                type="email"
                class="form-control"
                formControlName="email"
                placeholder="Enter your email"
              />
            </div>

            @if ((submitted || f['email'].touched) && f['email'].errors) {
              <small class="error"> Please enter a valid email. </small>
            }
          </div>

          <!-- Mobile -->

          <div class="form-group">
            <label class="form-label">
              <div class="label-row">
                <span>Mobile Number</span>

                <span class="required">*</span>
              </div>

              <small class="helper-text"> Include Country Code </small>
            </label>

            <div class="input-wrapper">
              <i class="bi bi-phone-fill"></i>

              <input
                type="text"
                class="form-control"
                formControlName="mobileNo"
                placeholder="Mobile no. with Country Code"
                maxlength="15"
              />
            </div>

            @if ((submitted || f['mobileNo'].touched) && f['mobileNo'].errors) {
              <small class="error"> Mobile Number is required. </small>
            }
          </div>
          <!-- Secondary Name -->

          <div class="form-group full-width">
            <label class="form-label">
              <div class="label-row">
                <span>Secondary Name</span>

                <span class="required">*</span>
              </div>

              <small class="helper-text"> Last Name, First Name </small>
            </label>

            <div class="input-wrapper">
              <i class="bi bi-person-lines-fill"></i>

              <input
                type="text"
                class="form-control"
                formControlName="secondary_name"
                placeholder="Mom / Dad / Volunteer Name"
              />
            </div>

            @if ((submitted || f['secondary_name'].touched) && f['secondary_name'].errors) {
              <small class="error"> Secondary Name is required. </small>
            }
          </div>

          <!-- Secondary Email -->

          <div class="form-group full-width">
            <label class="form-label">
              <div class="label-row">
                <span>Secondary Email</span>
              </div>

              <small class="helper-text"> Parent / Guardian / Volunteer Email (Optional) </small>
            </label>

            <div class="input-wrapper">
              <i class="bi bi-envelope-paper-fill"></i>

              <input
                type="email"
                class="form-control"
                formControlName="secondary_email"
                placeholder="Secondary Email (Mom / Dad / Volunteer)"
              />
            </div>

            @if (
              (submitted || f['secondary_email'].touched) && f['secondary_email'].errors?.['email']
            ) {
              <small class="error"> Please enter a valid email address. </small>
            }
          </div>
        </div>

        <!-- ==========================================
                     ACCOUNT INFORMATION
                =========================================== -->

        <div class="section-title">
          <i class="bi bi-shield-lock-fill"></i>

          <span>Account Information</span>
        </div>

        <div class="form-grid">
          <!-- Password -->

          <div class="form-group">
            <label class="form-label">
              <div class="label-row">
                <span>Password</span>

                <span class="required">*</span>
              </div>

              <small class="helper-text">
                Must contain one uppercase letter, one lowercase letter and one number
              </small>
            </label>

            <div class="input-wrapper">
              <i class="bi bi-lock-fill"></i>

              <input
                class="form-control"
                [type]="showPassword ? 'text' : 'password'"
                formControlName="password"
                placeholder="Enter your password"
              />

              <button type="button" class="eye-btn" (click)="togglePassword()">
                <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash-fill' : 'bi-eye-fill'"> </i>
              </button>
            </div>

            @if ((submitted || f['password'].touched) && f['password'].errors) {
              @if (f['password'].errors['required']) {
                <small class="error">Password is required.</small>
              }

              @if (f['password'].errors['passwordStrength']) {
                <small class="error">
                  Password must be at least 8 characters long and contain at least one uppercase
                  letter, one lowercase letter, and one number.
                </small>
              }
            }
          </div>

          <!-- Confirm Password -->

          <div class="form-group">
            <label class="form-label">
              <div class="label-row">
                <span>Confirm Password</span>

                <span class="required">*</span>
              </div>

              <small class="helper-text"> Re-enter your password </small>
            </label>

            <div class="input-wrapper">
              <i class="bi bi-lock-fill"></i>

              <input
                class="form-control"
                [type]="showConfirmPassword ? 'text' : 'password'"
                formControlName="confirmPassword"
                placeholder="Confirm Password"
              />

              <button type="button" class="eye-btn" (click)="toggleConfirmPassword()">
                <i class="bi" [ngClass]="showConfirmPassword ? 'bi-eye-slash-fill' : 'bi-eye-fill'">
                </i>
              </button>
            </div>

            @if (
              (submitted || f['confirmPassword'].touched) &&
              f['confirmPassword'].errors?.['required']
            ) {
              <small class="error">Confirm Password is required.</small>
            }

            @if (
              (submitted || f['confirmPassword'].touched) && signupForm.errors?.['passwordMismatch']
            ) {
              <small class="error">Passwords do not match.</small>
            }
          </div>
        </div>

        <!-- Buttons -->

        <div class="button-row">
          <button type="submit" class="btn btn-primary">
            <i class="bi bi-person-plus-fill me-2"></i>

            Sign Up
          </button>

          <button type="button" class="btn btn-danger" (click)="cancel()">
            <i class="bi bi-x-circle me-2"></i>

            Cancel
          </button>
        </div>

        <!-- Divider -->

        <div class="divider">
          <span>OR</span>
        </div>

        <!-- Login -->

        <div class="bottom-links">
          <div class="link-row">
            <span>Already have an account?</span>

            <a routerLink="/login" class="btn btn-outline-primary">
              <i class="bi bi-box-arrow-in-right me-2"></i>

              Login
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
